
{{> header}} 
{{>navbar}}

<section class="especialidad">
    <div class="container-fluid p-0">
        <div class="card">
            <img src="img/portadacarrousel1.png" class="card-img img-fluid" style="height: 300px;" alt="...">
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <h1 class=" letra card-title mt-5 bg-dark text-warning rounded p-5">Especialidad</h1>
            </div>
        </div>
    </div>
    <div class="container text-center mt-4 pb-4">
        <p class="h2 mb-2 ms-3 me-3">
            En <span class="fs-1">DecoArt</span> nos especializamos en<span class="fs-1"> Stucco Veneciano</span>. <br>
            El Stucco Veneciano es un revestimiento decorativo interior que evoca la belleza y el encanto de los
            revestimientos en los palacios de la antiguedad.
            El mismo simula el brillo y la elegancia del <span class="fs-1">Mármol</span>, material que se utilizaba
            para resaltar las paredes en aquella época. <br> Éste efecto es uno de los más vistosos y pedidos en la
            actualidad.
            El Stucco Veneciano es un revestimiento de paredes a base de cal y polvo de marmol, se trabaja con llana de
            forma artesanal.<br> Para su protección si se desea se lo puede cubrir con ceras que son especialmente
            diseñadas
            para este revestimiento. El diseño y acabado es personalizado, creando así un espacio que identifique cada
            uno de nuestros clientes. Para la personalización de terminaciones se puede modificar su brillo, pudiendo
            éste ser mas opaco o lustroso, su color, ya que podrían combinarse varios, además pueden tener destellos
            metalizados, entre otros efectos.
        </p>
    </div>
</section>

<section>
    <div class="container especial bg-light">
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="esp-left mt-2">
                    <img src="/img/portadastucco1.jpeg" class="img-fluid rounded" style="width: 100%">
                </div>
            </div>
            <div class="col-md-6 mt-0 mb-5">
                <div class="esp-right pt-0">
                    <h1>Especialistas en Stucco Veneciano</h1>
                    <p class="fs-5">Nuestra fundadora y actual aplicadora de DecoArt, Mariana Escemi, es especialista en
                        este efecto, cuya técnica es de las más complejas de la industria del diseño y el revestimiento.
                        <br> Ésta técnica es sumamente artesanal, cuenta con un proceso de realización de varias etapas
                        logrando en su última mano de aplicación el efecto de <span class="fs-4">Mármol pulido</span> a
                        través de la llana,{{!-- herramienta que se utiliza para la aplicación manual del producto, --}}
                        con la fricción de la herramienta y la presión adecuada.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container d-flex justify-content-around bg- light pb-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col">
            <div class="card card1 text-warning bg-dark h-100" style="width: 20rem;">
                <img src="/img/stuccodis.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Terminación semimate</h5>
                    <p class="card-text">Éste stucco posee terminación semimate. Se logra con una leve pulida de su
                        terminación.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card2 text-warning bg-dark h-100" style="width: 20rem;">
                <img src="/img/stuccodis2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stucco lustro</h5>
                    <p class="card-text">Éste efecto posee pulido al detalle, su perfecto brillo resalta en cualquier
                        ambiente a instarlarse.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card3 h-100 text-warning bg-dark" style="width: 20rem;">
                <img src="/img/efectoimperial.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stucco imperial</h5>
                    <p class="card-text">Éste efecto simula la piedra de mármol con sus caracteristicas grietas y
                        colores a tono.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card4 h-100 text-warning bg-dark" style="width: 20rem;">
                <img src="/img/stuccorojobicolor.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stucco bicolor</h5>
                    <p class="card-text">Éste efecto además de tener pulido al detalle, posee una combinación de colores
                        personalizado.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card5 h-100 text-warning bg-dark" style="width: 20rem;">
                <img src="/img/stuccobrillo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stucco metalizado nácar</h5>
                    <p class="card-text">Éste efecto posee pulido al detalle y efecto metalizado nácar que se le da en
                        su última mano de aplicación.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card6 h-100 text-warning bg-dark" style="width: 20rem;">
                <img src="/img/stuccotecho.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stucco en cielo raso</h5>
                    <p class="card-text">Éste efecto puede adaptarse a cualquier ambiente incluso al cielo raso sin
                        ningún tipo de limitación.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<section>
    <div class="container d-flex justify-content-evenly ">
        <div class="card card7 mb-3 text-warning bg-dark text-center" style="max-width: 650px;">
            <div class="row d-flex justify-content-center align-items-center g-0">
                <div class="col-md-6">
                    <img src="/img/stuccobicolor.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">Stucco en ambientes húmedos</h5>
                        <p class="card-text mt-3">Éste efecto puede adaptarse a ambientes donde es frecuente la húmedad
                            con previa protección de cera u otro producto.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container text-center mt-4 pb-4">
 <video  class="embed-responsive-item bg-dark rounded" src="/img/stuccovd.mp4" width="800" height="480" autoplay loop controls>
  Tu navegador no admite el elemento <code>video</code>.
</video>
    </div>
</section>

<section>
    <div class="container text-center mt-4 pb-4">
        {{!-- <h1 class="pb-3"> Especialidad</h1> --}}
        <p class=" descrip h2 mb-2 ms-3 me-3">
            El Stucco Veneciano es un revestimiento continuo de una sola pieza, no tiene cortes
            ni uniones. <br>
            Las opciones de combinación de colores y terminaciones son casi infinitas haciendo del Stucco Veneciano unos
            de los revestimientos más versatiles a la hora de elegir renovar un espacio. <br>{{!--  Trae tú idea nosotros la
            hacemos realidad. --}}
        </p>
    </div>
</section>



<!-- SCROOLL REVEAL SCRIPT -->
<script>
    window.sr = ScrollReveal();



    sr.reveal('.especialidad', {
        duration: 2000,
        origin: 'top',
        distance: '300px'
    });

    sr.reveal('.esp-left', {
        duration: 2000,
        origin: 'left',
        distance: '300px'
    });

    sr.reveal('.btn', {
        duration: 2000,
        delay: 1000,
        origin: 'bottom'
    });

    sr.reveal('.esp-right', {
        duration: 2000,
        origin: 'right',
        distance: '300px',
    });
    sr.reveal('.card1', {
        duration: 2000,
        origin: 'left',
        distance: '300px'
    });
    sr.reveal('.card2', {
        duration: 2000,
        origin: 'top',
        distance: '300px'
    });
    sr.reveal('.card3', {
        duration: 2000,
        origin: 'right',
        distance: '300px'
    });
    sr.reveal('.card4', {
        duration: 2000,
        origin: 'left',
        distance: '300px'
    });
    sr.reveal('.card5', {
        duration: 2000,
        origin: 'bottom',
        distance: '300px'
    });
    sr.reveal('.card6', {
        duration: 2000,
        origin: 'right',
        distance: '300px'
    });
    sr.reveal('.card7', {
        duration: 2000,
        origin: 'bottom',
        distance: '600px'
    });
    sr.reveal('.descrip', {
        duration: 2000,
        origin: 'right',
        distance: '600px'
    });




    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();

            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
</script>