{{> header}} 
{{>navbar}}



<section>

    <div id="carouselExampleDark" class="carousel  carousel-dark slide m-auto" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="7000">
                <img src="/img/portadacarrousel1.png"  class="img-fluid w-100" alt="stucco">
                <div class="carousel-caption d-flex d-md-flex justify-content-center align-items-center">
                    <div class="card bg-warning d-flex d-md-flex justify-content-center align-items-center " style="width: 18rem;">
                        <div class="card-body mb-4 ">
                            <h5 class="card-title">DecoArt</h5>
                            <p class="card-text">Los mejores en aplicación de pinturas y revestimientos decorativos.
                                En DecoArt, realizamos trabajos de aplicación, mantenimiento y reparación de ambientes,
                                somos pioneros en Revestimientos Alta Decoración.
                            </p>
                            <a href="/nosotros" class="btn btn-dark text-warning">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item  " data-bs-interval="7000">
                <img src="/img/portadacarrousel2.png"  class="img-fluid w-100" alt="stucco">
                <div class="carousel-caption d-flex d-md-block justify-content-center align-items-center">
                    <div class="card bg-warning m-auto" style="width: 18rem;">
                        <div class="card-body mb-4">
                            <h5 class="card-title">DecoArt</h5>
                            <p class="card-text">Ofrecemos planificación integral, coordinación y control, para que no
                                tengas que preocuparte por nada, Mira nuestras obras y conoce nuestros efectos, cada uno
                                puede ser personalizado por el cliente.</p>
                            <a href="/disenos" class="btn btn-dark text-warning">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item " data-bs-interval="5000">
                <img src="/img/portadacarrousel4.png" class="img-fluid" alt="stucco">
                <div class="carousel-caption d-flex d-md-flex justify-content-center align-items-center">
                    <div class="card bg-warning m-auto" style="width: 18rem;">
                        <div class="card-body mb-4">
                            <h5 class="card-title">DecoArt</h5>
                            <p class="card-text">Gracias a la tenacidad, la inspiración, la creatividad y la innovación
                                constante, hoy estamos orgullosos de tomar el desafío de vender productos y herramientas
                                para la aplicación de revestimientos de alta decoración.</p>
                            <a href="/productos" class="btn btn-dark text-warning">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev mt-6" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>

<section id="inicio">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="inicio-content-left mt-2">
                    <img src="img/estucosalaclasico.jpg" class="img-fluid rounded" style="width: 100%;">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="inicio-content-right">
                    <h1 class=" {{!-- mt-1 --}}">Revestimientos de Alta decoración</h1>
                    <p class="mt-2 fs-5"><span class="fs-4">En DecoArt somos especialistas en la aplicación de Revestimientos de Alta
                        Decoración. </span><br> El Revestimiento de Alta Decoración es una pintura decorativa de diseño que permite lograr múltiples efectos decorativos gracias a su composición y a las técnicas
                        de aplicación{{!-- sumamente artesanales --}}, creando un acabado distintivo donde resalta la
                        elegancia y
                        frescura del ambiente. El mismo puede ser aplicado en diversos espacios, así como en viviendas
                        particulares, locales comerciales, edificios y cualquier otro espacio que se quiera renovar o
                        intervenir.{{!-- Incluso determinados revestimientos pueden ser aplicados en el exterior ya que
                        poseen caracteristicas que le permiten un buen desempeño y durabilidad. --}}</p>
                    {{!-- <a href="" class="inicio-btn btn btn-outline-dark header-btn btn-lg mt-2 ms-0 text-warning">Saber
                        más</a> --}}
                </div>
            </div>
        </div>
    </div>
</section>



<section id="nosotros">
    <div class="container-fuid text-center mt-5 pb-4 bg-light">
        <h1> Sobre nosotros</h1>
        <p class="h2 mb-2 ms-3 me-3">
            DecoArt es una empresa dedicada a la aplicación de efectos decorativos para interiores y exteriores. La
            misma surge de la necesidad de traer a este mercado innovación y diseño, con una profunda dedicación y
            aprendizaje por técnicas traidas desde otras culturas y lugares dónde hace tiempo se utilizan dichos
            revestimientos. <br> En éstos trabajos se fusionan ambas características, tanto el diseño como la
            innovación, para lograr ambientes más personalizados para el cliente. Con el tiempo y la práctica en DecoArt
            nos convertimos en especialistas en Diseños de Alta Decoración y de nuestro revestimiento estrella el Stucco
            Veneciano.
        </p>
        <a href="/nosotros" class="inicio-btn btn btn-outline-dark header-btn btn-lg mt-2 text-warning">Saber
                        más</a>
    </div>
</section>

<section id="especialidad">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="info-left mt-2">
                    <img src="/img/estucoclasico.jpg" class="img-fluid rounded" style="width: 100%">
                </div>
            </div>
            <div class="col-md-6 my-auto mb-5">
                <div class="info-right">
                    <h1>Especialistas en Stucco Veneciano</h1>
                    <p class="fs-5">El Stucco Veneciano es un revestimiento de alta decoración donde se recrea el mítico
                        mármol de los palacios de la antiguedad. <br> Ese mármol elegante, brilloso, frío al tacto y de variados colores
                        es el efecto en el cual nos especializamos. <br> Éste consta de una técnica que muy pocos se
                        atreven a realizar dada la complejidad del proceso. <br> Se realiza de manera artesanal,
                        cuenta con un proceso de varias etapas logrando en su último paso el efecto
                        de mármol pulido, dicho efecto se logra con la experiencia del aplicador.</p>
                    <a href="/especialidad" class="btn btn-outline-dark btn-lg text-warning">Saber más</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>


    <div class="container-fuid  text-center mt-5 bg-light">
        <div class="descdiseño">
            <h1>Diseños para tus ambientes</h1>
        <p class="h2 mb-5 ms-3 me-3">
            Con los revestimientos de alta decoración podes lograr el efecto que te imagines, las posibilidades son
            infinitas. <br>
            Desde diseños que simulan los estucos antiguos así como también los que imitan el encofrado de las grandes
            construcciones, efectos metalizados, rústicos, símil madera y más.
        </p>
        </div>

        <div class="container d-flex justify-content-evenly pb-5">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                <div class="col-sm-1 col-md-4">
                    <div class="card card1 text-warning bg-dark" style="width: 18rem;">
                        <img src="/img/estiloantiguo.jpg" class="card-img-top" alt="estiloantiguo">
                        <div class="card-body">
                            <h5 class="card-title">Efecto piedra</h5>
                            <p class="card-text">Efecto decorativo interior utilizado para simular defectos en pared
                                como si fuese una piedra. {{!-- En este efecto se utilizaron dos técnicas, el efecto
                                piedra y la utilización de stencil para el relieve,--}} Su aplicación se realiza sobre
                                superficies lisas o rústicas. </p>
                            {{!-- <a href="#" class="inicio-btn btn btn-outline-secondary header-btn btn-lg mt-2 text-warning">Ver más</a> --}}
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="card card2 text-warning bg-dark" style="width: 18rem;">
                        <img src="/img/microcemento.jpg" class="card-img-top " alt="microcemento">
                        <div class="card-body">
                            <h5 class="card-title">Microcemento</h5>
                            <p class="card-text">Este efecto es utilizado mayormente para la decoración y revestimientos
                                preferentemente de suelos, como así también en ambientes u objetos a intervenir. </p>
                            {{!-- <a href="#" class="inicio-btn btn btn-outline-secondary header-btn btn-lg mt-2 text-warning">Ver más</a> --}}
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card3 text-warning bg-dark" style="width: 18rem;">
                        <img src="/img/muro.jpg" class="card-img-top" alt="hormigón">
                        <div class="card-body">
                            <h5 class="card-title">Efecto hormigón</h5>
                            <p class="card-text">Este efecto imita el diseño de paredes de hormigón y encofrados con un acabado
                                rústico. <br> Puede ser aplicado tanto en paredes como en objetos.</p>
                            {{!-- <a href="#" class="inicio-btn btn btn-outline-secondary header-btn btn-lg mt-2 text-warning">Ver más</a> --}}
                        </div>
                    </div>
                </div>


            </div> {{!-- row --}}
        </div> {{!-- cont --}}

        <div class="container piedep">
            <p class="h2 mb-4 ms-3 me-3">
                Los efectos son muchos y se
            adaptan a todos los ambientes. <br>
            Mirá más de nuestros revestimientos y diseños.
            </p><a href="/disenos" class="inicio-btn btn btn-outline-dark header-btn btn-lg mb-5 text-warning">Ver más</a>
        </div>

</section>



<!-- SCROOLL REVEAL SCRIPT -->
<script>
    window.sr = ScrollReveal();



    sr.reveal('.inicio-content-left', {
        duration: 2000,
        origin: 'top',
        distance: '300px'
    });

    sr.reveal('.inicio-content-right', {
        duration: 2000,
        origin: 'right',
        distance: '300px'
    });

    sr.reveal('.inicio-btn', {
        duration: 2000,
        delay: 1000,
        origin: 'bottom'
    });

    sr.reveal('#nosotros', {
        duration: 2000,
        origin: 'left',
        distance: '300px',
        viewFactor: 0.2
    });

    sr.reveal('.info-left', {
        duration: 2000,
        origin: 'top',
        distance: '300px'
    });

    sr.reveal('.info-right', {
        duration: 2000,
        origin: 'right',
        distance: '300px'
    });
    sr.reveal('.descdiseño', {
        duration: 2000,
        origin: 'right',
        distance: '300px'
    });

    sr.reveal('.card1', {
        duration: 2000,
        origin: 'left',
        distance: '300px'
    });
    sr.reveal('.card2', {
        duration: 2000,
        origin: 'bottom',
        distance: '300px'
    });
    sr.reveal('.card3', {
        duration: 2000,
        origin: 'right',
        distance: '300px'
    });
    sr.reveal('.piedep', {
        duration: 2000,
        origin: 'bottom',
        distance: '300px'
    });






    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();

            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
</script>