<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DECOART</title>

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/estilo.css">
{{!-- FUENTE --}}
<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" />
{{!-- ICONOS --}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="icon" href="/img/leon.png">

<!-- SCROOLL REVEAL JS -->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

</head>
<body>

    {{> header}}
    {{>navbar}}

    {{{ body }}} {{!-- aca iriran las otras paginas que ruteamos --}}

    {{> footer}} {{!-- partials --}}




<script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>