<div class="col">
            <div class="card card1  text-dark bg-warning h-100" style="width: 20rem;">
                <img src="/img/stuccodis.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Terminación semimate</h5>
                    <p class="card-text">Éste stucco posee terminación semimate. Se logra con una leve pulida de su
                        terminación.</p>
                </div>
            </div>
        </div>